.App {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10hv;
  background: rgb(255, 255, 255);
  color: rgb(139, 139, 139);
  box-shadow: none;
}

.nav-link{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}
.button-login{
      text-decoration: none;
      text-decoration: underline;
      color: rgb(139, 139, 139);
      text-align: center;
      text-decoration: none;
      display: inline-block;
}
.button-menu-lateral{
  text-decoration: none;
  color: rgb(139, 139, 139);
  text-decoration:none;
  text-decoration: none;
  display: inline-block;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
header{
  box-shadow: none !important;
}
.logo-desk{
  max-height: 64px;
}